body  {
  background-image: url(../img/fondofinal.jpg)
}

#text-ceremony {
  position: absolute;
  top: 34%;
  left:40.5%;
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 0.725em;
  line-height: 2.125em;
  text-align: center;
  color: black;
}
.containerceremony {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.ceremonyvideo 
{ position: absolute;
  top: 39.5%;
  left: 4.5%;
  width: 33%;
  height: 60%;
}
.tooltip-vol {
      /*image*/
  position: absolute;
  left: 65%;
  top: 25%;
}
.tooltip-vol .tooltiptext-vol {
  /*texto*/
    position: absolute;
    visibility: hidden;
    width: 350%;
    height:70%;
    color: black;
    font-family: Ubuntu;
    font-style: bold;
    font-size: 0.795em;
    text-align: center;
    border-radius: 6%;
    padding: 2%;
    z-index: 1;
    bottom:-50%;
    top: 110%;
    left: -110%;
    margin-left: 1%;
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing:border-box;
}


.tooltip-vol .tooltiptext-vol::after {
  /*flecha*/
    content: "";
    position: absolute;
    bottom: 100%;
    left: 45%;
    margin-left: -0.5%;
    border-width: 0.5%;
    border-style: solid;
    border-color: transparent transparent white;
    box-sizing:border-box;
}

.tooltip-vol:hover .tooltiptext-vol {
  /*cuadro de texto*/
  visibility: visible;
  opacity: 1;
  background-color: white;

}

@media only screen and (min-width: 1024px)  and (orientation: landscape){

  #text-ceremony{
    font-size: 0.82em;
    top: 36.5%;
    left:45%;
 } 
  .ceremonyvideo {
  width: 36%;
  left: 6%;
 }
.tooltip-vol {
    top: 30%;
    left: 67%;
 }
.tooltip-vol .tooltiptext-vol {
  left: -120%;
  height:70%;
 }
}

@media only screen and (min-width: 1224px) and (orientation: landscape){

  #text-ceremony{
    font-size: 1em;
    top: 37%;
    left:46%;
 } 
  .ceremonyvideo {
  width: 36%;
  left: 6%;
  top: 35%;
 }
.tooltip-vol {
  left: 68.5%;
  top: 32%;
 }
.tooltip-vol .tooltiptext-vol {
  left: -135%;
  width: 400%;
 }
}

@media only screen and (min-width: 1600px) and (orientation: landscape){

  #text-ceremony{
    font-size: 1.3em;
    top: 38%;
    left:46%;
 } 
  .ceremonyvideo {
  width: 38%;
  left: 5%;
  top: 32%;
 }
.tooltip-vol {
  left: 68.5%;
  top: 34%;
 }
.tooltip-vol .tooltiptext-vol {
  top: 110%;
  left: -140%;
  height:70%;
 }
}