body  {
  background-image: url(../img/fondofinal.jpg)
}
.containerfinal {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  
}
.finalvideo {   
    position: absolute;
    top: 55%;
    left: 56%;
    width: 40%;
    height: auto;
  }

  .crown {
    position: absolute;
    top: 24%;
    width: 18%;
    left: 20%;
}
.text-final {
  position: absolute;
  top: 30%;
  left:4%;
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 0.805em;
  line-height: 2.125em;
  text-align: center;
  color: black;
}

.tooltip-vol {
  /*image*/
position: absolute;
left: 50%;
top: 25%;
width: 2%; 
height:12%;
}
.tooltip-vol .tooltiptext-vol {
/*texto*/
position: absolute;
visibility: hidden;
width: 500%;
height:22%;
color: black;
font-family: Ubuntu;
font-weight: normal;
font-size: 0.795em;
text-align: center;
border-radius: 6%;
padding: 2%;
z-index: 1;
bottom:-50%;
top: 40%;
left: -172%;
margin-left: 1%;
opacity: 0;
transition: opacity 0.3s;
box-sizing:border-box;
}

.tooltip-vol .tooltiptext-vol::after {
/*flecha*/
content: "";
position: absolute;
bottom: 100%;
left: 45%;
margin-left: -0.5%;
border-width: 0.5%;
border-style: solid;
border-color: transparent transparent white;
box-sizing:border-box;
}
.tooltip-vol:hover .tooltiptext-vol {
/*cuadro de texto*/
visibility: visible;
opacity: 1;
background-color: white;
}

@media only screen and (min-width: 1024px)  and (orientation: landscape){

  .text-final{
    font-size: 0.95em;
    top: 33%;
    left:4%;
 } 
  .finalvideo {
    left: 54%;
    width: 42%;
    top: 45%;
 }
.tooltip-vol {
    top: 26%;
    left: 48%;
 }
.tooltip-vol .tooltiptext-vol {
  left: -120%;
  width: 400%;
  height:20%;
 }
 .crown {
  top: 26%;
  width: 18%;
  left: 18%;
}
}

@media only screen and (min-width: 1224px)  and (orientation: landscape){

  .text-final{
    font-size: 1.15em;
    top: 33%;
    left:4%;
 } 
  .finalvideo {
    left: 54%;
    width: 44%;
    top: 45%;
 }
.tooltip-vol {
    top: 26%;
    left: 48%;
 }
.tooltip-vol .tooltiptext-vol {
  left: -120%;
  width: 400%;
  height:20%;
 }
 .crown {
  top: 26%;
  width: 18%;
  left: 18%;
}
}

@media only screen and (min-width: 1600px)  and (orientation: landscape){

  .text-final{
    font-size: 1.5em;
    top: 28%;
    left:4%;
 } 
  .finalvideo {
    left: 53.5%;
    width: 44%;
    top: 30%;
 }
.tooltip-vol {
    top: 18%;
    left: 48%;
 }
.tooltip-vol .tooltiptext-vol {
  left: -120%;
  width: 400%;
  height:20%;
 }
 .crown {
  top: 21%;
  width: 18%;
  left: 18%;
}
}