body  {
  background-image: url(../img/fondo.jpg);
}

  #logofinal {
        position: absolute;
        height: 35%;
        width: 28%;
        top: 20%;
        left: 36%;
      }

  #choose-language {
        position: absolute;
        top: 58%;
        left: 28%;
        font-family: Ubuntu;
        font-style: bold;
        font-size: 1em;
        text-align: center;
        color: white;
      }  
  #made-with-europeana {
        position: absolute;
        height: 8.5%;
        width: 5%;
        top: 78%;
        left: 81%;
      }
      
  .tooltip {
    /*image*/
    position: absolute;
    left: 18%;
    top: 15%;
    width: 4%; 
    height:2.7%;
  }
  .tooltip .tooltiptext {
    /*text*/
    position: absolute;
    visibility: hidden;
    width: 375%;
    height:500%;
    color: black;
    font-family: Ubuntu;
    font-style: bold;
    font-size: 0.725em;
    text-align: center;
    border-radius: 6%;
    padding: 2%;
    z-index: 1;
    bottom:-50%;
    top: 250%;
    left: -125%;
    margin-left: 1%;
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing:border-box;
  }
  
  .tooltip .tooltiptext::after {
    /*arrow*/
    content: "";
    position: absolute;
    bottom: 100%;
    left: 45%;
    margin-left: -0.5%;
    border-width: 0.5%;
    border-style: solid;
    border-color: transparent transparent white;
    box-sizing:border-box;
  }
  
  .tooltip:hover .tooltiptext {
    /*text box*/
    visibility: visible;
    opacity: 1;
    background-color: white;
  
  }
  .dropbtn 
       /*dropdown menu button*/
    {
    background-color: orange;
    color: white;
    padding: 28%;
    font-size: 0.8125em;
    border: none;
    cursor: pointer;
    box-sizing:border-box;
  }
  
  .dropdown 
   /*box menu*/
  {
    position: absolute;
    display:inline-block;
    left: 44.7%;
    top: 70%;
  }
  .dropdown-content 
   /*content boxes*/
  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 156%;
    box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a 
   /*content menu*/
  {
    color: black;
    font-size: 0.9375em;
    padding: 0.75em 1.125em;
    text-decoration: none;
    display: block;
    box-sizing:border-box;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
    overflow:auto;
    max-height:100%;
  }
  
  .dropdown:hover .dropbtn {
    background-color: orange;
  }
  
@media only screen and (min-width: 1024px) and (orientation: landscape){

  #choose-language {
    top: 59%;
    left: 33%;
  }  
  #made-with-europeana {
    height: 9%;
    width: 5.5%;
  }
  .dropdown {
  left: 46%;
}
.tooltip {
  left: 16%;
}
}

@media only screen and (min-width: 1224px) and (orientation: landscape){

  #logofinal {
    height: 35%;
    width: 21%;
    left: 39%;
  } 

  #choose-language {
    top: 59%;
    left: 34.5%;
    font-size: 1.1250em;
  }  

  #made-with-europeana {
    height: 9%;
    width: 4%;
    left: 79%;
  }
  .dropdown {
  left: 46.5%;
}
.dropbtn {
      font-size: 0.8525em;
}
.tooltip {
  width: 2.5%; 
 }
}

@media only screen and (min-width: 1600px) and (orientation: landscape){
  #choose-language {
    top: 59%;
    left: 34%;
    font-size: 1.6em;
  }  

  #made-with-europeana {
    top: 80%;
    left: 82%;
  }
  .dropbtn {
    font-size: 1.5em;
 }

.dropdown {
  left: 45.7%;
 }
}
