body  {
  background-image: url(../img/fondo.jpg)
}

.container-intro {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-intro {
    position: absolute;
    top: 29%;
    left: 16%;
    width: 70%;
    height: 60%;
  }

.tooltip-vol {
      /*image*/
    position: absolute;
    left: 49%;
    top: 17.5%;
    width: 3%; 
    height:2.7%;
}
.tooltip-vol .tooltiptext-vol {
  /*texto*/
    position: absolute;
    visibility: hidden;
    width: 380%;
    height:110%;
    color: black;
    font-family: Ubuntu;
    font-style: bold;
    font-size: 0.795em;
    text-align: center;
    border-radius: 6%;
    padding: 2%;
    z-index: 1;
    bottom:-50%;
    top: 190%;
    left: -125%;
    margin-left: 1%;
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing:border-box;
}

.tooltip-vol .tooltiptext-vol::after {
  /*flecha*/
    content: "";
    position: absolute;
    bottom: 100%;
    left: 45%;
    margin-left: -0.5%;
    border-width: 0.5%;
    border-style: solid;
    border-color: transparent transparent white;
    box-sizing:border-box;
}

.tooltip-vol:hover .tooltiptext-vol {
  /*cuadro de texto*/
  visibility: visible;
  opacity: 1;
  background-color: white;

}

@media only screen and (min-width: 1024px) and (orientation: landscape){

  .tooltip-vol {
    /*image*/
    top: 16.5%;
  }
  .tooltip-vol .tooltiptext-vol {
    /*texto*/
      font-size: 0.925em;
 }
}

@media only screen and (min-width: 1224px) and (orientation: landscape){

  .video-intro {
    left: 18%;
    width: 67%;
    top: 28%;
  }
  .tooltip-vol .tooltiptext-vol {
    /*texto*/
      font-size: 1em;
  }
}

@media only screen and (min-width: 1600px) and (orientation: landscape){

  .video-intro {
    left: 18%;
    width: 67%;
    top: 30%;
  }
  .tooltip-vol .tooltiptext-vol {
    /*texto*/
      font-size: 1.5em;
  }
  
}