p{
  font-weight: normal;
  font-family: Ubuntu; 
  margin-bottom: 2em;
}
body  {
  background-image: url(../img/fondo.jpg)
}
.map
    {
      position: absolute;
      height:85%;
      width:85%;
      top:7%;
      left: 10%;
    }

.olympia-startext {
      position: absolute;
      top: 10%;
      left: 6%;
      font-family: Ubuntu;
      font-weight: bold;
      font-size: 0.325em;
      line-height: 4em;
      text-align: center;
      color: white;
}
.thebes-startext {
  position: absolute;
  top: 10%;
  left: 9.5%;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 0.325em;
  line-height: 4em;
  text-align: center;
  color: white;
}
.miletus-startext {
  position: absolute;
  top: 10%;
  left: 12.5%;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 0.325em;
  line-height: 4em;
  text-align: center;
  color: white;
}
.corinth-startext {
  position: absolute;
  top: 10%;
  left: 16%;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 0.325em;
  line-height: 4em;
  text-align: center;
  color: white;
}
.sparta-startext {
  position: absolute;
  top: 10%;
  left: 19.5%;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 0.325em;
  line-height: 4em;
  text-align: center;
  color: white;
}
.athens-startext {
  position: absolute;
  top: 10%;
  left: 22.5%;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 0.325em;
  line-height: 4em;
  text-align: center;
  color: white;
}

.starspace {

  position: absolute;
  visibility:visible;
  height: 2%;
  width:17.5%;
  left:5.5%;
  top: 7%;
  background-color: orange;
  color: white;
  padding: 1.5%;
  font-family: Ubuntu;
  text-align: center;
  font-style: Bold;
  font-size: 1.25em;
}

.star1white {
position: absolute;
visibility:visible;
left:-5%;
top: -28%;
padding: 7%;
width: 15%;
}

.star2white {
position: absolute;
visibility:visible;
left:11%;
top: -28%;
padding: 7%;
width: 15%;
}

.star3white {
position: absolute;
visibility:visible;
left:27%;
top: -28%;
padding: 7%;
width: 15%;
}

.star4white {
position: absolute;
visibility:visible;
left:44%;
top: -28%;
padding: 7%;
width: 15%;
}

.star5white {
position: absolute;
visibility:visible;
left:59%;
top: -28%;
padding: 7%;
width: 15%;
}


.star6white {
position: absolute;
visibility:visible;
left:74%;
top: -28%;
padding: 7%;
width: 15%;
}

.star1yellow {
  position: absolute;
  visibility:hidden;
  left:-5%;
  top: -28%;
  padding: 7%;
  width: 15%;
  }
  
  .star2yellow {
  position: absolute;
  visibility:hidden;
  left:11%;
  top: -28%;
  padding: 7%;
  width: 15%;
  }
  
  .star3yellow {
  position: absolute;
  visibility:hidden;
  left:27%;
  top: -28%;
  padding: 7%;
  width: 15%;
  }
  
  .star4yellow {
  position: absolute;
  visibility:hidden;
  left:44%;
  top: -28%;
  padding: 7%;
  width: 15%;
  }
  
  .star5yellow {
  position: absolute;
  visibility:hidden;
  left:59%;
  top: -28%;
  padding: 7%;
  width: 15%;
  }
  
  
  .star6yellow {
  position: absolute;
  visibility:hidden;
  left:74%;
  top: -28%;
  padding: 7%;
  width: 15%;
  }

  .olympia-text {
    position: absolute;
    top: 64%;
    left: 32.2%;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 0.050em;
    line-height: 4em;
    text-align: center;
    color: white;
}
.thebes-text {
    position: absolute;
    top: 57.5%;
    left: 39.8%;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 0.050em;
    line-height: 4em;
    text-align: center;
    color: white;
}
.miletus-text {
    position: absolute;
    top: 63%;
    left: 63.8%;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 0.050em;
    line-height: 4em;
    text-align: center;
    color: white;
}
.corinth-text {
    position: absolute;
    top: 64.5%;
    left: 37.7%;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 0.050em;
    line-height: 4em;
    text-align: center;
    color: white;
}
.sparta-text {
    position: absolute;
    top: 74%;
    left: 36.5%;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 0.050em;
    line-height: 4em;
    text-align: center;
    color: white;
}
.athens-text {
    position: absolute; 
    top: 61%;
    left: 43.2%;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 0.050em;
    line-height: 4em;
    text-align: center;
    color: white;
}
.modalrules{
  display: none;
  position: fixed; 
  left: 24%;
  top: 19%;
}
.modal-content-rules{
  background-image: url(../img/parchment.png);
  width:120%;
  height:auto;
}
.modal-header-rules {
  text-align: center;
  color:black;
  left: 10%;
  top:10%;
  font-family: Ubuntu;
  font-weight: bold;
}

.modal-body-rules {
  padding: 8%;
  text-align: center;
  color:maroon;
  font-family: Ubuntu;
  font-weight:bold;
  font-size: 0.75em;
}

.container-pantheon {
  position: absolute;
  left: 24%;
  top: 46%;
}
.container-star {
  position: absolute;
  left: 99.5%;
  top: 60%;
}
.openrules{
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  width:4%;
  top: 7%;
  left: 95%;
  border: transparent;
  margin-left: -8%;
}
.startrul {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  border:none;
  left: 25%;
  top: 85%;
}
.closerul {
  position: absolute;
  width: 5%;
  left: 95%;
  top: 19%;
  }

.modalolympia {
    display: none;
    position: fixed; 
    left: 33%;
    width: 39%; 
    height: 85%;
  }
  .modal-content-olympia {
    background-image: url(../img/background-modal.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  }
  .pantheon-olympia{
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 3%;  
    width:3%;
    top: 61%;
    left: 40.4%;
    border: transparent;
    margin-left: -8%;
  }
  .closeolymp {
    position: absolute;
    left: -85%;
    top: 5%;
    width: 125%;
  }
  .modal-header-olympia {
    position: relative; 
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    left: 25%;
    right:1%;
  }
  
  .center {   
    position: absolute;
    top: 100%;
    left: -15%;
    width: 80%;
    height: auto;
  }
  
  .modal-body-olympia {
    position: absolute; 
    text-align: center;
    color:navy;
    font-family: Ubuntu;
    font-weight:regular;
    left:15%;
    top:44%;
  }
  #palaestra{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-right: 25%;
  }
  .box-olympia {
    position: absolute;
    padding-top: 12%;
    left: 20%;
    top: 58%;
    width: 80%;
    height: auto;
  }
  .modalthebes {
    display: none;
    position: fixed; 
    left: 33%;
    width: 39%; 
    height: 90%;
  }
  .pantheon-thebes{
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 3%;  
    width:3%;
    top: 55%;
    left: 47.7%;
    border: transparent;
    margin-left: -8%;
  }
  .modal-content-thebes {
    background-image: url(../img/background-modal.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  }
  .modal-header-thebes {
    position: relative; 
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    left: 25%;
    right:1%;
  }

  #finds-thebes{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-left: 2%;
    margin-top:47%;
  }
  
  .thebes-finds{
    position: absolute;
    left: -14%;
    top: 25%;
    width: 80%;
    height: auto;
  }
  
  .modal-body-thebes {
    position: absolute; 
    text-align: center;
    color:navy;
    font-family: Ubuntu;
    font-weight:regular;
    left:6%;
    top:44%;
     
  }
  .gymnastics{
    position: absolute;
    padding-top: 12%;
    left: 17%;
    top: 58%;
    width: 68%;
    height: auto;
  }
  #gymnasium{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-left: 2%;
    margin-top:92%;
  }

  .playtheb{
    position: absolute;
    padding-top: 12%;
    left: 30%;
    top:90%;
    width: 22%;
    height: auto;
    border: none;
    background:transparent;
  }
 
  #play-thebes{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-top: -5%;
    margin-right: 8%;
  }
  .modalrunner{
    display: none;
    position: fixed; 
    left: 15%;
    width:75%; 
    height: 78%;
  }
  .modal-content-runner{
    background-image: url(../img/bakground-games.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  }
  
  .closerun {
    position: absolute;
    left: 9%;
    top: 10%;
    width: 125%;
  }
  
  .modal-header-runner { 
    position: relative; 
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    left: 25%;
    right:1%;
  }

  .modal-body-runner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  .runnergame{
  position: absolute;
  top: -5%;
  left: 7%;
  width: 100%;
  height: 100%;
  border: none;
}
  .backrun {
    background:transparent;
    border: none;
    position: absolute;
    left: -55%;
    top: 25%;
    width: 125%;
  }

  .modalmiletus1 {
    display: none;
    position: fixed; 
    left: 33%;
    width: 39%; 
    height: 90%;
  }
  .pantheon-miletus {
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 3%;  
    width:3%;
    top: 60%;
    left: 71.9%;
    border: transparent;
    margin-left: -8%;
  }
  .modal-content-miletus1{
    background-image: url(../img/background-modal.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  }
  .modal-header-miletus1{
    position: relative; 
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    left: 25%;
    right:1%;
  }
  #fencing{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-left: 2%;
    margin-top:47%;
  }
  .fence{
    position: absolute;
    left: -25%;
    top: -19%;
    width: 100%;
    height: auto;
  }
  .modal-body-miletus1 {
    position: absolute; 
    text-align: center;
    color:navy;
    font-family: Ubuntu;
    font-weight:regular;
    left:6%;
    top:45%;
  }

  #theatremiletus{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-left: 2%;
    margin-top:95%;
  }
  
  .theatre-miletus {
    position: absolute;
    padding-top: 15%;
    left: 23%;
    top: 59%;
    width: 55%;
    height: auto;
  }
  .nextmiletus {
    position: absolute;
    padding-top: 12%;
    left: 27%;
    top:92%;
    width: 45%;
    height: auto;
    border: none;
    background:transparent;
  }
  .modalmiletus2 {
    display: none;
    position: fixed; 
    left: 33%;
    width: 39%; 
    height: 90%;
  }
  
  .modal-content-miletus2{
    background-image: url(../img/background-modal.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  }
  .modal-header-miletus2 {
    position: relative; 
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    left: 25%;
    right:1%;
  }
  
  .center2 {
    position: absolute;
    top: 50%;
    left: -15%;
    width: 80%;
    height: auto;
  }
  #openceremony{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-left: 2%;
    margin-top:60%;
  }
  
  .modal-body-miletus2 {
    position: absolute; 
    text-align: center;
    color:navy;
    font-family: Ubuntu;
    font-weight:regular;
    left:3.5%;
    top:45.5%;
  }
  .playmiletus {
    position: absolute;
    padding-top: 12%;
    left: 27%;
    top:88.5%;
    width: 22%;
    height: auto;
    border: none;
    background:transparent;
  }
  .backmiletus {
    background:transparent;
    border: none;
    position: absolute;
    left: 47%;
    top:95.5%;
    width: 22%;
  }
  .modal-memorycard{
    display: none;
    position: fixed; 
    left: 15%;
    width:75%; 
    height: 85%;
  }
  .modal-content-memorycard{
    background-image: url(../img/bakground-games.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  }
  .closememorycard {
    position: absolute;
    left: 9%;
    top: 10%;
    width: 125%;
  }
  .modal-header-memorycard {
    position: relative; 
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    left: 25%;
    right:1%;
  }
  
  .modal-body-memorycard{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .memorycardgame{
    position: absolute;
    top: -5%;
    left: 7%;
    width: 75%;
    height: 100%;
    border: none;
  }
  .backmemorycard {
    background:transparent;
    border: none;
    position: absolute;
    left: -55%;
    top: 25%;
    width: 125%;
  }
  
  .modal-corinth{
    display: none;
    position: fixed; 
    left: 33%;
    width: 39%; 
    height: 85%;
  }
  .modal-content-corinth{
    background-image: url(../img/background-modal.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  }
  .pantheon-corinth {
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 3%;  
    width:3%;
    top: 61.7%;
    left: 45.7%;
    border: transparent;
    margin-left: -8%;
  }
  .modal-header-corinth {
    position: relative; 
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    left: 25%;
    right:1%;
  }
  
  .corinth-canal{
    position: absolute;
    padding-top: 12%;
    left: 6.5%;
    top: -120%;
    width: 35%;
    height: 420%;
  }
  #corinthcanal{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-left: 2%;
    margin-top:37%;
  }
  
  .modal-body-corinth {
    position: absolute; 
    text-align: center;
    color:navy;
    font-family: Ubuntu;
    font-weight:regular;
    left:7.1%;
    top:40%;
  }
  .center3{
    position: absolute;
    top: 72%;
    left: 24%;
    width: 55%;
    height: auto;
  }
  #fairplay{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-left: 2%;
    margin-top:89%;
  }
  
  .playcorinth{
    position: absolute;
    padding-top: 13%;
    left: 34%;
    top:88%;
    width: 22%;
    height: auto;
    border: none;
    background:transparent;
  }
  
  #play-corinth{
    font-weight: normal;
    font-family: Ubuntu; 
    margin-bottom: 2em;
    text-align: center;
    margin-top: -2%;
    margin-right: 0%;
  }

  .modal-puzzle {
    display: none;
    position: fixed; 
    left: 15%;
    width:75%; 
    height: 85%;
  }
  .modal-content-puzzle{
    background-image: url(../img/bakground-games.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  } 
  .modal-header-puzzle {
  position: relative; 
    padding-top: 10%;
    padding-bottom: -5%;
    text-align: center;
    left: 1%;
    right:1%;
  }
  .modal-body-puzzle{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  .puzle{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 100%;
    height: 150%;
    border: none;
  }
  .closepuzzle {
    position: absolute;
    left: 90%;
    top: 25%;
    width: 125%;
  }
  .backpuzzle {
    background:transparent;
    border: none;
    position: absolute;
    left: -55%;
    top: 25%;
    width: 125%;
  }
.modal-sparta{
  display: none;
  position: fixed; 
  left: 33%;
  width: 39%; 
  height: 87%
}
.modal-content-sparta{
  background-image: url(../img/background-modal.png);
  margin: 15% auto; 
  padding: 20px;
  height: inherit;
  border: none;
}
.pantheon-sparta {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 3%;  
  width:3%;
  top: 71.2%;
  left: 44.2%;
  border: transparent;
  margin-left: -8%;
}
.modal-header-sparta {
  position: relative; 
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    left: 25%;
    right:1%;
}

#leonidas-sparta {
  font-weight: normal;
  font-family: Ubuntu; 
  margin-bottom: 2em;
  text-align: center;
  margin-left: 2%;
  margin-top:37%;
}
.leonidas{
  position: absolute;
  padding-top: 12%;
  left: 6.5%;
  top: -120%;
  width: 35%;
  height: 420%;
}

.modal-body-sparta {
  position: absolute; 
  text-align: center;
  color:navy;
  font-family: Ubuntu;
  font-weight:regular;
  margin-left: 5%;
  left:7.1%;
  top:40%;
}
.center4{
  position: absolute;
  top: 69%;
  left: 24%;
  width: 52%;
  height: auto;
}
#allanwells{
  font-weight: normal;
  font-family: Ubuntu; 
  margin-bottom: 2em;
  text-align: center;
  margin-right: 11%;
  margin-top:92%;
}

.playsparta {
  position: absolute;
  padding-top: 13%;
  left: 32%;
  top:89.5%;
  width: 22%;
  height: auto;
  border: none;
  background:transparent;
}

#play-sparta{
  font-weight: normal;
  font-family: Ubuntu; 
  margin-bottom: 2em;
  text-align: center;
  margin-top: -2%;
  margin-right: 5%;
}
.modal-quiz{
  display: none;
  position: fixed; 
  left: 15%;
  width:75%; 
  height: 85%;
}
.modal-content-quiz{
  background-image: url(../img/bakground-games.png);
  margin: 15% auto; 
  padding: 20px;
  height: inherit;
  border: none;
} 
.modal-header-quiz {
  position: relative; 
  padding-top: 3%;
  padding-bottom: 5%;
  text-align: center;
  left: 25%;
  right:1%;
}
.modal-body-quiz{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 55.25%; /* 16:9 Aspect Ratio */
}
.quiz{
  position: absolute;
  top: -8%;
  left: 14%;
  width: 80%;
  height: 110%;
  border: none;
}
.closequiz {
  position: absolute;
  left: 9%;
  top: 10%;
  width: 125%;
}
.backquiz {
  background:transparent;
  border: none;
  position: absolute;
  left: -55%;
  top: 25%;
  width: 125%;
}

.modal-athens {
  display: none;
  position: fixed; 
  left: 33%;
  width: 39%; 
  height: 90%;
}
.modal-content-athens {
  background-image: url(../img/background-modal.png);
  margin: 15% auto; 
  padding: 20px;
  height: inherit;
  border: none;
}
.pantheon-athens {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 3%;  
  width:3%;
  top: 58.4%;
  left: 51.1%;
  border: transparent;
  margin-left: -8%;
}
.modal-header-athens {
  position: relative; 
  padding-top: 6%;
  padding-bottom: 5%;
  text-align: center;
  left: 25%;
  right:1%;
}
#discobol{
  font-weight: normal;
  font-family: Ubuntu; 
  margin-bottom: 2em;
  text-align: center;
  margin-left: 2%;
  margin-top:52%;
}

.statue-disco{
  position: absolute;
  left: 8%;
  top: 8%;
  width: 35%;
  height: auto;
}

.modal-body-athens {
  position: absolute; 
  text-align: center;
  color:navy;
  font-family: Ubuntu;
  font-weight:regular;
  left:2%;
  top:48.5%;
   
}
.epidaurus-theatre{
  position: absolute;
  padding-top: 12%;
  left: 33%;
  top: 65%;
  width:35%;
  height: auto;
}
#epidaurustheatre{
  font-weight: normal;
  font-family: Ubuntu; 
  margin-bottom: 2em;
  text-align: center;
  margin-left: 2%;
  margin-top:86%;
}

.playathens{
  position: absolute;
  padding-top: 12%;
  left: 30%;
  top:92%;
  width: 22%;
  height: auto;
  border: none;
  background:transparent;
}

#play-athens{
  font-weight: normal;
  font-family: Ubuntu; 
  margin-bottom: 2em;
  text-align: center;
  margin-top: -4%;
  margin-right: 8%;
}

.modal-theatre {
  display: none;
  position: fixed; 
  left: 15%;
  width:75%; 
  height: 85%;
}
.modal-content-theatre{
  background-image: url(../img/bakground-games.png);
  margin: 15% auto; 
  padding: 20px;
  height: inherit;
  border: none;
} 
.modal-header-theatre {
position: relative; 
  padding-top: 7%;
  padding-bottom: -5%;
  text-align: center;
  left: 1%;
  right:1%;
}
.modal-body-theatre{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.draganddrop{
  position: absolute;
  top: -32%;
  left: -10%;
  width: 158%;
  height: 150%;
  border: none;
}
.closetheatre {
  position: absolute;
  left: 87%;
  top: 25%;
  width: 125%;
}
.backtheatre {
  background:transparent;
  border: none;
  position: absolute;
  left: -55%;
  top: 25%;
  width: 125%;
}
.continuefinal{
  position: absolute;
  background:transparent;
  border: none;
  left: 20%;
  top: 50%;
  width: 150%;
}

@media only screen and (min-width: 1024px) and (orientation: landscape){
  .modalrules{
    left: 30%;
  }
  .pantheon-olympia{
    left: 40%;
  }
  .modal-body-olympia {
    font-size: 1.27em;
    top:45%;
  }
  .box-olympia {
    top: 60%;
    width: 75%;;
  }
  .pantheon-thebes{
    left: 47.5%;
    top: 54.5%;
  }
  .modal-body-thebes {
    font-size: 1.29em;
    top:44%;
  }
  .playtheb{
    top:89.5%;
  }
  #play-thebes{
    margin-top: -2.5%;
  }
  .runnergame{
    left: 17%;
  }
  .pantheon-miletus {
    left: 71.6%;
  }
  .modal-body-miletus1 {
    font-size: 1.27em;
    top:45%;
    left:-2%;
  }
  .modal-body-miletus2 {
    font-size: 1.27em;
    top:45%;
    left:4%;
  }
  .memorycardgame{
    top: 1%;
  }
  .pantheon-corinth {
    left: 45.5%;
  }
  .modal-corinth{
    height: 87%;
  }
  .modal-body-corinth {
    font-size: 1.27em;
    top:40%;
    left:-4%;
  }
  #fairplay{
    margin-top: 93%;
  }
  .playcorinth{
    width: 20%;
  }
  .modal-sparta{
    height: 88%;
  }
  .modal-body-sparta {
    font-size: 1.27em;
    top:40%;
    left:-4%;
  }
  #allanwells{
    margin-top: 93.2%;
  }
  .playsparta{
    width: 20%;
  }
  .modal-body-athens {
    font-size: 1.15em;
    top:48%;
    left:-1%;
  }
  .epidaurus-theatre{
    top: 66%;
  }
  #epidaurustheatre{
    margin-top:89%;
  }
  .modal-body-theatre{
    width: 60%;
    left: 25%;
    margin-top: 10%;
  }
  .draganddrop{
    width: 210%;
    left: -40%;
  }
} 

@media only screen and (min-width: 1224px) and (orientation: landscape){
  .olympia-startext {
    top: 11%;
    left: 6.4%;
  }
  .thebes-startext {
    top: 11%;
    left: 9.8%;
  }
  .miletus-startext {
    top: 11%;
    left: 12.9%;
  }
  .corinth-startext {
    top: 11%;
    left: 16.4%;
  }
  .sparta-startext {
    top: 11%;
    left: 19.7%;
  }
  .athens-startext {
    top: 11%;
    left: 22.7%;
  }
  .map{
    height:88.5%;
    width:87%;
  }
  .modalrules{
    left: 35%;
    top: 30%;
  }
  .pantheon-olympia{
    left: 39.8%;
    top: 62%;
  }
  .olympia-text {
    top: 66%;
  }
  .modalolympia {
    width: 34%; 
    height: 89%;
    left: 37%;
  }
  .modalthebes {
    height: 92%;
  }
  .pantheon-thebes{
    left: 47.2%;
    top: 55.5%;
  }
  .thebes-text {
    top: 59.1%;
  }
  .modal-body-thebes {
    font-size: 1.40em;
    top:48%;
    left:11%;
  }
  .gymnastics{
    width: 64%;
    top: 62%;
    left: 19%;
  }
  #gymnasium{
    margin-top:80%;
  }
  .playtheb{
    top:93%;
  }
  .runnergame{
    left: 22%;
  }
  .miletus-text {
    left: 65.8%;
    top: 63.9%;
  }
  .pantheon-miletus {
    left: 73.3%;
  }
  .modalmiletus1 {
    height: 92%;
    top:-4%;
  }
  .modal-body-miletus1 {
    font-size: 1.3em;
    top:48%;
    left:15%;
  }
  #theatremiletus{
    margin-top:80%;
  }

  .modal-body-miletus2 {
    font-size: 1.3em;
    top:51%;
    left:10%;
  }
  .playmiletus {
    top:91%;
  }
  .backmiletus {
    top:98.5%;
  }
  .memorycardgame{
    top: 1%;
    left: 4%;
    width:80%;
  }
  .corinth-text {
    top: 67%;
    left: 37.7%;
  }
  .pantheon-corinth {
    left: 45.3%;
    top: 63.5%;
  }
  .modal-corinth{
    height: 90%;
  }
  .modal-body-corinth {
    font-size: 1.3em;
    top:42.5%;
    left:14%;
  }
  #fairplay{
    margin-top: 77.5%;
  }
  .puzle{
    width: 88%;
    top: -2%;
    left: 20%;
  }
  .sparta-text {
    top: 75%;
    left: 36.8%;
  }
  .modal-sparta{
    height: 90%
  }
  .modal-body-sparta {
    font-size: 1.3em;
    top:42%;
    left:12%;
  }
  #allanwells{
    margin-top: 77%;
  }
  .center4{
    top: 70%;
  }
  .playsparta{
    top:90%;
  }
  .athens-text {
    top: 62.8%;
    left: 43.7%;
  }
  .pantheon-athens {
    top: 59.3%;
  }
  .modal-athens {
    height: 94%;
    top: -2%;
  }
  .modal-body-athens {
    font-size: 1.3em;
    top:52%;
    left:11%;
  }
  .epidaurus-theatre{
    top: 68%;
  }
  #epidaurustheatre{
    margin-top:79%;
  }
  .playathens{
    top:94%;
  }
  .modal-body-theatre{
    width: 45%;
    left: 25%;
    margin-top: 10%;
  }
  .draganddrop{
    width: 220%;
    left: -41%;
    top: -15%;
  }
} 

@media only screen and (min-width: 1600px) and (orientation: landscape){
  .olympia-startext {
    top: 11%;
    left: 6.6%;
  }
  .thebes-startext {
    top: 11%;
    left: 10%;
  }
  .miletus-startext {
    top: 11%;
    left: 13.1%;
  }
  .corinth-startext {
    top: 11%;
    left: 16.6%;
  }
  .sparta-startext {
    top: 11%;
    left: 19.9%;
  }
  .athens-startext {
    top: 11%;
    left: 22.9%;
  }
  .map{
    height:90%;
    width:87%;
  }
  .modalrules{
    left: 39%;
    top: 35%;
  }
  .pantheon-olympia{
    left: 39.8%;
    top: 63.5%;
  }
  .olympia-text {
    top: 67.5%;
    left: 32.5%;
  }
  .modal-body-olympia {
    font-size: 1.70em;
  }
  .pantheon-thebes{
    left: 47.2%;
    top: 56%;
  }
  .thebes-text {
    top: 60%;
    left: 39.9%;
  }
  .modalthebes {
    height: 94%;
    top:-3%;
  }
  .modal-body-thebes {
    font-size: 1.90em;
    top:50%;
    left:11%;
  }
  .gymnastics{
    width: 60%;
    top: 66%;
    left: 22%;
  }
  #gymnasium{
    margin-top:79%;
  }
  .playtheb{
    top:94%;
    width: 20%;
  }
  .miletus-text {
    left: 66%;
    top: 64%;
  }
  .modalmiletus1 {
    height: 94%;
  }
  .modal-body-miletus1 {
    font-size: 1.7em;
    top:48%;
    left:15%;
  }
  #theatremiletus{
    margin-top:76%;
  }
  .nextmiletus {
    width: 40%;
    top:93.5%;
    left: 31%;
  }
  .modalmiletus2 {
    height: 92%;
    top: -2%;
  }
  .modal-body-miletus2 {
    font-size: 1.6em;
    top:53%;
    left:12%;
  }
  .playmiletus {
    top:92%;
    width: 20%;
  }
  .backmiletus {
    top:100%;
    width: 20%;
  }
  .memorycardgame{
    top: 1%;
    left: 4%;
    width:80%;
  }
  .corinth-text {
    top: 68.3%;
    left: 38%;
  }
  .pantheon-corinth {
    left: 45.3%;
    top: 64%;
  }
  .modal-corinth{
    height: 90%;
    top:-1%;
  }
  .modal-body-corinth {
    font-size: 1.7em;
    top:42.5%;
    left:14%;
  }
  #fairplay{
    margin-top: 70%;
  }
  .playcorinth{
    width: 18%;  
  }
  .sparta-text {
    top: 76.5%;
    left: 36.9%;
  }
  .pantheon-sparta {
    top: 72.3%;
  }
  .modal-sparta{
    height: 91%;
  }
  .modal-body-sparta {
    font-size: 1.7em;
    top:44%;
    left:12%;
  }
  #allanwells{
    margin-top: 73%;
  }
  .center4{
    top: 72%;
  }
  .playsparta{
    width: 15%;
    top:91.5%;
    left: 36%;
  }
  .athens-text {
    top: 63.8%;
    left: 44.3%;
  }
  .pantheon-athens {
    top: 59.8%;
    left: 51.45%;
  }
  .modal-athens {
    height: 95%;
    top: -5%;
  }
  .modal-body-athens {
    font-size: 1.7em;
  }
  .epidaurus-theatre{
    top: 68%;
  }
  #epidaurustheatre{
    margin-top:74%;
  }
  .playathens{
    width: 17%;
    left: 33%;
  }
  .modal-body-theatre{
    width: 45%;
    left: 25%;
    margin-top: 10%;
  }
  .draganddrop{
    width: 220%;
    left: -41%;
    top: -15%;
  }
}