  .modal-puzzle {
    display: none;
    position: fixed; 
    left: 15%;
    width:75%; 
    height: 85%;
  }
  .modal-content-puzzle{
    background-image: url(../img/bakground-games.png);
    margin: 15% auto; 
    padding: 20px;
    height: inherit;
    border: none;
  } 
  .modal-header-puzzle {
  position: relative; 
    padding-top: 10%;
    padding-bottom: -5%;
    text-align: center;
    left: 1%;
    right:1%;
  }
  .modal-body-puzzle{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  .puzle{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 100%;
    height: 150%;
    border: none;
  }
  .closepuzzle {
    position: absolute;
    left: 90%;
    top: 25%;
    width: 125%;
  }
  .backpuzzle {
    background:transparent;
    border: none;
    position: absolute;
    left: -55%;
    top: 25%;
    width: 125%;
  }