body  {
  background-image: url(../img/fondo.jpg);
}
.containerpostceremony {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.postceremonyvideo {   
  position: absolute;
  top: 55%;
  left: 6%;
  width: 40%;
  height: auto;
}

#text-postceremony {
  position: absolute;
  top: 46%;
  left:50%;
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 0.55em;
  line-height: 2.125em;
  text-align: center;
  color: white;
}
 .startmap {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  top: 61%;
  left: 75%;
  border: transparent;
  margin-left: -8%;
}
.tooltip-vol {
  /*image*/
position: absolute;
left: 70%;
top: 38%;
width: 2%; 
height:12%;
}
.tooltip-vol .tooltiptext-vol {
/*texto*/
position: absolute;
visibility: hidden;
width: 500%;
height:22%;
color: black;
font-family: Ubuntu;
font-weight: normal;
font-size: 0.795em;
text-align: center;
border-radius: 6%;
padding: 2%;
z-index: 1;
bottom:-50%;
top: 40%;
left: -172%;
margin-left: 1%;
opacity: 0;
transition: opacity 0.3s;
box-sizing:border-box;
}

.tooltip-vol .tooltiptext-vol::after {
/*flecha*/
content: "";
position: absolute;
bottom: 100%;
left: 45%;
margin-left: -0.5%;
border-width: 0.5%;
border-style: solid;
border-color: transparent transparent white;
box-sizing:border-box;
}
.tooltip-vol:hover .tooltiptext-vol {
/*cuadro de texto*/
visibility: visible;
opacity: 1;
background-color: white;
}

@media only screen and (min-width: 1024px)  and (orientation: landscape){

  #text-postceremony{
    font-size: 0.73em;
    top: 45%;
    left:47%;
 } 
  .postceremonyvideo {
  width: 38%;
  left: 6%;
 }
.tooltip-vol {
    top: 38%;
    left: 68%;
 }
.tooltip-vol .tooltiptext-vol {
  left: -120%;
  width: 400%;
  height:20%;
 }
 .startmap {
  left: 57%;
  top: 65%;
}
}

@media only screen and (min-width: 1224px) and (orientation: landscape){

  #text-postceremony{
    font-size: 1em;
    top: 37%;
    left:45%;
 } 
  .postceremonyvideo {
  width: 38%;
  left: 4%;
  top: 37%;
 }
.tooltip-vol {
  left: 68%;
  top: 30%;
 }
.tooltip-vol .tooltiptext-vol {
  left: -135%;
  width: 400%;
 }
 .startmap {
  left: 56%;
  top: 60.5%;
  width: 27%;
}
}

@media only screen and (min-width: 1600px) and (orientation: landscape){

  #text-postceremony{
    font-size: 1.3em;
    top: 34%;
    left:46%;
 } 
  .postceremonyvideo {
  width: 38%;
  left: 5%;
  top: 32%;
 }
.tooltip-vol {
  left: 68.5%;
  top: 28%;
 }
.tooltip-vol .tooltiptext-vol {
  top: 35%;
  left: -61%;
  height:19%;
  width: 270%;
 }
 .startmap {
  left: 55.5%;
  top: 58%;
  width: 30%;
}
}