    html, body {
        margin: 0;
        padding: 0;
      }
      canvas {
        display: block;
        overflow: hidden;
      }
.modal {
  display: none;
  position: fixed; 
  left: 7%;
  top:-9%;
  width:75%; 
  height: 65%;
}
.modal-content {
  background-image: url(../img/bakground-games.png);
  border: 1% solid #888;
  margin: 15% auto; 
  padding: 20px;
  height: inherit;
}
.closerunner {
  background-color: orange;
  color: black;
  position: absolute;
  width: 10%;
  height: 13%;
  left:55%;
  top:94%;
  font-size: 0.5625em;
  font-weight: bold;
}
.myBtnrunner{
  background-color: orange;
  color: black;
  position: absolute;
  width: 10%;
  height: 13%;
  left:35%;
  top:94%;
  font-size: 0.5625em;
  font-weight: bold;
}